{% load dicts arithmetic %}
<form method="GET" action="/search">
    <input type="text" name="query" placeholder="Search">
</form>

<ul>
    {% for hit in hits.hits %}
        <li>
            <p><a href="{{ hit|get:"_source"|get:"link" }}">{{ hit|get:"_source"|get:"title" }}</a> - {{ hit|get:"_source"|get:"link" }}</p>
        </li>
    {% endfor %}
</ul>

<p>
    Hits: {{ hits.total.value }}
</p>
<p>
    {% if page != 1 %}
        <a href="{{ request.path }}?query={{ query }}&page={{ page|add:"-1" }}">Previous Page</a>
    {% endif %}
    Page: {{ page }}
    {% if not final %}
        <a href="{{ request.path }}?query={{ query }}&page={{ page|add:"1" }}">Next Page</a>
    {% endif %}
</p>